body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.nav-bar {
  padding: 10px;
  width: 100vw;
  height: 10vh;
  background-color: #e4dfc2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar span:hover {
  cursor: pointer;
  background-color: #6a4944;
  color: #d1582b;
}
.nav-bar div span {
  height: 10vh;
}
.nav-link {
  height: 10vh;
}

.active {
  background-color: #6a4944;
  color: #d1582b;
  height: 10vh;
}
